.header {
    &__container {
        display: flex;
        align-items: center;
        padding-top: 14px;
        
        @media(min-width: 768px) {
            margin-top: 21px;
        }
        
        @media(min-width: 1728px) {
            margin-top: 77px;
        }
    }
    
    &__logo {
        margin-right: auto;
        
        @media(min-width: 768px) {
            margin-right: 140px;
        }
        
        @media(min-width: 1728px) {
            margin-right: 360px;
        }
    }
    
    &__list {
        @include clear-list;
        
        display: flex;
    }
    
    &__item {
        color: #000;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        
        a {
            padding: 10px 13px;

            @media (min-width: 1728px) {
                padding: 10px 18px;
            }
        }
    }
    
    &__burger {
        @include clear-button;
        
        margin-left: 20px;
        
        @media (min-width: 768px) {
            display: none;
        }
    }
    
    &__nav {
        @media (max-width: 768px) {
            display: none;
        }
    }
    
    &__button {
        @include clear-button;
        
        img {
            @media(min-width: 768px) {
                width: 29px;
                height: 27px;
            }
        }
    }
    
    &__relationship {
        display: flex;
        margin-left: auto;
        gap: 24px;
    }
}